*.env*
**.md**
**README.md**
**.eslintrc.**
**.prettierrc.**
**jest.config.ts**
**.gitignore**
**.DS_Store**
**.dockerignore**

**dist**
**node_modules**
**__tests__**

.gitattributes
.git
.github

prettier.config.js
docker-compose.yml
Makefile

sprints-reports
docs
.idea
docker
bruno

scripts/changelog.sh
scripts/commit-msg.sh
scripts/pre-commit.sh
scripts/pre-push.sh
scripts/release.sh
scripts/setup-hooks.sh
scripts/version.sh