*.env*
*.md
dist
node_modules
.gitattributes
.gitignore
prettier.config.js
sprints-reports
docs
.github
.idea
.git
docker-compose.yml
docker
bruno
*.DS_Store
/packages/.DS_Store
.dockerignore
scripts
Makefile