# SERVER ENV #

## PostgreSQL Local Creds
DB_CONNECTION_HOST=localhost
DB_CONNECTION_USER=
DB_CONNECTION_PWD=
DB_CONNECTION_DB=instamint

## Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

## Cors
CORS_ORIGIN=http://localhost:3000

## Security
SECURITY_COOKIE_SECRET=your_cookie_secret
SECURITY_JWT_SECRET=your_jwt_secret
SECURITY_PASSWORD_PEPPER=your_password_pepper

## Sentry
SENTRY_DSN=https://

## SendGrid
SENDGRID_BASE_URL=http://localhost:3000
SENDGRID_API_KEY=SG.
SENDGRID_SENDER=test@example.com
SENDGRID_TEMPLATE_EMAIL_VALIDATION=d-
SENDGRID_TEMPLATE_RESET_PASSWORD=d-
SENDGRID_TEMPLATE_CONFIRM_RESET_PASSWORD=d-
SENDGRID_TEMPLATE_CONFIRM_ACCOUNT_DELETION=d-
SENDGRID_TEMPLATE_ACCOUNT_REACTIVATION=d-
SENDGRID_TEMPLATE_ACCOUNT_CONFIRM_REACTIVATION=d-

## Cron Jobs
SECURITY_CRON_JWT_SECRET=your_cron_jwt_secret
SECURITY_CRON_JWT_SCOPE_DELETE_ACCOUNT=delete:account

## Microservices
BUSINESS_SERVICE_URL=http://localhost:3001
FILES_SERVICE_URL=http://localhost:3002

# CLIENT ENV #

## NEXTJS
NEXT_PUBLIC_BASE_URL=http://localhost:3001

# DOCKER ENV - Docker Compose Creds #

## SERVICE BUSINESS
CORS_ORIGIN_DOCKER=http://localhost:3000
DB_CONNECTION_DOCKER=instamint
DB_CONNECTION_USER_DOCKER=postgres
DB_CONNECTION_PASSWORD_DOCKER=postgres

## Microservices
BUSINESS_SERVICE_URL_DOCKER=http://instamint-business:3001
FILES_SERVICE_URL_DOCKER=http://instamint-files:3002

## Redis
REDIS_HOST_DOCKER=redis
REDIS_PORT_DOCKER=6379
REDIS_PASSWORD_DOCKER=