# ignored files or directories
.idea/
.DS_Store

# terraform
**/terraform/**
!**/*.tf
!**/terraform/modules
!**/terraform/modules/**

# node_modules
node_modules/
*/**/node_modules
*/**/dist

# dotenv files
.env
.env.test