# ignored files or directories
.idea/
.DS_Store

# terraform
**/terraform/**
**terraform_outputs.json**
!**/terraform/README.md
!**/*.tf
!**/terraform/.terraform.lock.hcl
!**/terraform/modules
!**/terraform/modules/**

# node_modules
node_modules/
*/**/node_modules
*/**/dist

# dotenv files
.env
.env.test
*env.sh